Requirement already satisfied: kafka-python in c:\users\ybouf\onedrive\bureau\djeo_finder\my_venv\lib\site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

In [23]:
import pandas as pd 
from kafka import KafkaProducer , KafkaConsumer
from time import sleep 
from json import dumps 
import json

In [24]:
producer = KafkaProducer(bootstrap_servers=['54.146.250.97:9092'],
                        value_serializer=lambda x:dumps(x).encode('utf-8'))

In [12]:
df = pd.read_csv('./indexProcessed.csv')

In [13]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [28]:
while True :
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test', value=dict_stock)
    sleep(1)

KeyboardInterrupt:

In [16]:
df.sample(1).to_dict()

{'Index': {6069: 'HSI'},
 'Date': {6069: '2011-07-25'},
 'Open': {6069: 22287.36914},
 'High': {6069: 22330.19922},
 'Low': {6069: 22217.40039},
 'Close': {6069: 22293.28906},
 'Adj Close': {6069: 22293.28906},
 'Volume': {6069: 1334947500.0},
 'CloseUSD': {6069: 2898.1275778}}

In [26]:
producer.flush()